{% extends 'base.html' %}


{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>Удалить клиента</h1>
            <p>Вы уверены, что хотите удалить клиента "{{ contracts.name }}"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'contracts:contracts_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
