{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">{{ businesspartner.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p ><strong>Статус:</strong> {{ businesspartner.status }}</p>
            <p ><strong>Регистрационный номер:</strong> {{ businesspartner.vat }}</p>
            <p ><strong>Вид деятельности:</strong> {{ businesspartner.industry }}</p>
            <p ><strong>Роль:</strong> {{ businesspartner.primary_role }}</p>
            <p ><strong>Доп. роль:</strong> {{ businesspartner.secondary_role }}</p>
            <p><strong>Резидент:</strong> {{ businesspartner.residence }}</p>
            <p ><strong>Создан:</strong> {{ businesspartner.created_at }}</p>
            <p ><strong>Обновлен:</strong> {{ businesspartner.updated_at }}</p>
            <p ><strong>Пользователь:</strong> {{ businesspartner.user.username }}</p>
        </div>

        <div class="col-md-6">
            <p><strong>Адрес контрагента</strong></p>
                    <p><strong>Страна:</strong> {{ businesspartner.country }}</p>
                    <p><strong>Индекс:</strong> {{ businesspartner.postcode }}</p>
                    <p><strong>Город:</strong> {{ businesspartner.city }}</p>
                    <p><strong>Улица:</strong> {{ businesspartner.street_name }}</p>
                    <p><strong>Дом:</strong> {{ businesspartner.house_number }}</p>
                    <p><strong>Электронная почта:</strong> {{ businesspartner.email }}</p>
                    <p><strong>Телефон:</strong> {{ businesspartner.phone }}</p>
        </div>

        <div class="d-flex justify-content-end">
            <a href="{% url 'business_partner:businesspartner_update' businesspartner.pk %}" class="btn btn-primary me-2">Редактировать</a>
            <a href="{% url 'business_partner:businesspartner_delete' businesspartner.pk %}" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row mb-3">
        <div class="card">

            <table class="table card-table table-vcenter">
                <thead>
                <tr>
                    <th>Категория</th>
                    <th>Наименование</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for contract in businesspartner.contracts.all %}
                <tr>
                    <td><a href="{% url 'contracts:contracts_detail' contract.id %}">{{ contract.category }}</a></td>
                    <td>{{ contract.name }}</td>
                    <td>{{ contract.date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}