{% extends 'base.html' %}


{% block content %}
<div class="container my-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Задания</h1>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between mb-3">
                    {% if show_all %}
                    <a href="?show_all=false" class="btn btn-facebook">Показать только мои задания</a>
                    {% else %}
                    <a href="?show_all=true" class="btn btn-vimeo">Показать все задания</a>
                    {% endif %}

                    <a href="{% url 'tasks:task_create' %}" class="btn btn-success" >
                        <i class="bi bi-plus-circle-dotted"></i> Создать Задание </a>
                </div>
            </div>
            <div class="card">
                <table class="table card-table table-vcenter">
                    <thead>
                    <tr>
                        <th>Заголовок</th>
                        <th>Статус</th>
                        <th>Выполнить до</th>
                        <th>Назначено</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in page_obj %}
                    <tr>
                        <td><a href="{% url 'tasks:task_detail' task.id %}">{{ task.title }}</a></td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.assigned_to }}</td>
                        <td>
                            <a href="{% url 'tasks:task_update' task.id %}" class="btn btn-primary">Редактировать</a>
                            <a href="{% url 'tasks:task_delete' task.id %}" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Заданий нет</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&show_all={{ show_all }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}&show_all={{ show_all }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&show_all={{ show_all }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}